body{
	padding: 0;
	margin: 0; 
}

.container {
	width: 50%;
	height: 20px;
	position: absolute;
	margin: auto;
	top:0;
	bottom:0;
	left:0;
	right:0;

}

.slider{
	-webkit-appearance: none;
	width: 100%;
	height: 20px;
	background-color: rgb(219, 22, 47);
	border-radius: 20px;
	transition: opacity 0.3s;
	outline: none;
	opacity: 0.6; 
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 50%;
	cursor:pointer;
	outline: none;
	transition: opacity 0.3s;
}

.slider::-webkit-slider-thumb:hover{
	box-shadow: 0 0 0 3px rgb(219, 22, 47),
				0 0 0 6px white;
				opacity: 1;
}

.slider:acitve:-webkit-slider-thumb {
	box-shadow: 0 0 0 3px rgb(219, 22, 47),
				0 0 0 6px white;
}

.box{
	/*background-color: #333333;*/
	height: 50px;
	width: 50px;
	/*border-radius: 0 50% 50% 50%;*/
	/*transform: rotate(-135deg);*/
	position: absolute;
	/*margin: auto;*/
	/*left:0;*/
	right:0;
	top:250px;
}

#value{
	color: black;
	font-size: 20px;
	/*transform: rotate(135deg);*/
	position: relative;
	top:112px;
	/*font-family: , sans-serif;*/
}
